.DS_Store
*.log
*.swp
*.swo
extension/js/
node_modules/
web-ext-artifacts/

# https://yarnpkg.com/getting-started/qa#which-files-should-be-gitignored
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
